body
{
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header
{
    flex: 0 70px;
}

main 
{
    flex: 1 calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer
{
    flex: 0 30px;
}

footer a
{
    color: white;
    float: right
}

menu
{
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

.navbar-brand
{
    font-size: xx-large;
    font-weight: bold;
    padding-left: 0.5em;
}

menu .nav-item
{
    padding: 0 10px;
    font-size: large;
    font-weight: 700;
}

main p
{
    font-size: larger;
    font-weight: 500;
}
 main label{
    font-size: large;
    font-weight: 500;
 }

 #about
 {
    color: lightgrey;
    font-size: x-large;
    max-width: 80ch;
 }


 .Players
 {
    flex: 1;
    padding: 0.5em;
    margin-right: auto;
    font-weight: bold;
 }

 .player_name
 {
    color: rgb(0, 0, 0) !important;
 }

 .game
 {
    background: rgb(0, 0, 0);
    border-radius: 50%;
    box-shadow: 0 0 20px 5px rgb(69,69,69);
    width: 80vw;
    height: 80vw;
    position: absolute;
    min-width: 350px;
    min-height: 350px;
    max-width: min(80vmin, 1000px);
    max-height: min(80vmin, 1000px);
 }

 .game-board
 {
    background:rgb(0, 0, 0);
    border-radius: 100%;
    width: 80vh;
    height: 80vh;
    position: absolute;
 }

 .game-buttons
 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
 }

 #button-quadrant-1
 {
    border-radius: 100% 0 0 0;
    margin: 20px 0 0 20px;
    background-color: green;
    border: thick solid darkgreen;
 }

 #button-quadrant-2
 {
    border-radius: 0 100% 0 0;
    margin: 20px 20px 0 0;
    background-color: red;
    border: thick solid darkred;
 }

 #button-quadrant-3
 {
    border-radius: 0 0 0 100%;
    margin: 0 0 20px 20px;
    background-color: yellow;
    border: thick solid darkgoldenrod;
 }

 #button-quadrant-4
 {
    border-radius: 0 0 100% 0;
    margin: 0 20px 20px 0;
    background-color: blue;
    border: thick solid navy;
 }

 .info-board
 {
    position: absolute;
    border-radius: 100%;
    width: 185px;
    height: 185px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 7px;
 }

#game-name
{
    color: whitesmoke;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 0.1em;
}

 #score-counter
 {
    background-color: lightgray;
    width: 60px;
    height: 40px;
    text-align: center;
    border-radius: 20%;
    font-size: 22px;
    border: 3px solid rgb(75, 75, 75)
 }

 .centered
 {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
 }

 @media (max-width: 700px) or (max-height: 600px)
 {
    header
    {
        display: none;
    }

    footer
    {
        display: none;
    }

    main
    {
        flex: 1 100vh;
    }
}

